<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>servletStu</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- 上下文参数 -->
	<context-param>
		<param-name>A</param-name>
		<param-value>1</param-value>
	</context-param>

	<context-param>
		<param-name>B</param-name>
		<param-value>2</param-value>
	</context-param>
	<!-- 上下文参数 -->

	<!-- 过滤器配置 -->
	<filter>
		<filter-name>MyFilter</filter-name>
		<filter-class>com.t.config.MyFilter</filter-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>MyFilter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<!-- 配置url的规则 ，可以配置多个 -->
		<url-pattern>/*</url-pattern>
		<url-pattern>*.do</url-pattern>
		<!-- 配置到达servlet的方式 -->
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<!-- 过滤器配置 -->

	<!-- 过滤器配置 -->
	<filter>
		<filter-name>MyFilter2</filter-name>
		<filter-class>com.t.config.MyFilter2</filter-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>MyFilter2</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter2</filter-name>
		<!-- 配置url的规则 ，可以配置多个 -->
		<url-pattern>/*</url-pattern>
		<url-pattern>*.do</url-pattern>
		<!-- 配置到达servlet的方式 -->
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<!-- 过滤器配置 -->

	<!-- 过滤器配置 -->
	<filter>
		<filter-name>MyFilter1</filter-name>
		<filter-class>com.t.config.MyFilter1</filter-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>MyFilter1</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter1</filter-name>
		<!-- 配置url的规则 ，可以配置多个 -->
		<url-pattern>/*</url-pattern>
		<url-pattern>*.do</url-pattern>
		<!-- 配置到达servlet的方式 -->
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<!-- 过滤器配置 -->

	<!-- 监听器配置 -->
	<listener>
		<listener-class>com.t.config.listener.Mylistener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.t.config.listener.ListenerTest</listener-class>
	</listener>
	<!-- 监听器配置 -->


	<!-- servlet配置 -->
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.t.test.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LifeCycleServlet</servlet-name>
		<servlet-class>com.t.test.LifeCycleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestServletConfig</servlet-name>
		<servlet-class>com.t.test.TestServletConfig</servlet-class>
		<init-param>
			<param-name>userName</param-name>
			<param-value>SAM-SHO</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>CookieWriter</servlet-name>
		<servlet-class>com.t.cookie.CookieWriter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CookieReader</servlet-name>
		<servlet-class>com.t.cookie.CookieReader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SessionWriter</servlet-name>
		<servlet-class>com.t.session.SessionWriter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SessionReader</servlet-name>
		<servlet-class>com.t.session.SessionReader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SessionLogin</servlet-name>
		<servlet-class>com.t.session.SessionLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletStuTest</servlet-name>
		<servlet-class>com.t.test.ServletStuTest</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LifeCycleServlet</servlet-name>
		<url-pattern>/LifeCycleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServletConfig</servlet-name>
		<url-pattern>/TestServletConfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CookieWriter</servlet-name>
		<url-pattern>/CookieWriter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CookieReader</servlet-name>
		<url-pattern>/CookieReader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionWriter</servlet-name>
		<url-pattern>/SessionWriter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionReader</servlet-name>
		<url-pattern>/SessionReader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionLogin</servlet-name>
		<url-pattern>/SessionLogin</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ServletStuTest</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<!-- servlet配置 -->
</web-app>