<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>servletStu</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- 上下文参数 -->
	<context-param>
		<param-name>A</param-name>
		<param-value>1</param-value>
	</context-param>

	<context-param>
		<param-name>B</param-name>
		<param-value>2</param-value>
	</context-param>

	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.t.test.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LifeCycleServlet</servlet-name>
		<servlet-class>com.t.test.LifeCycleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestServletConfig</servlet-name>
		<servlet-class>com.t.test.TestServletConfig</servlet-class>
		<init-param>
			<param-name>userName</param-name>
			<param-value>SAM-SHO</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>CookieWriter</servlet-name>
		<servlet-class>com.t.cookie.CookieWriter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CookieReader</servlet-name>
		<servlet-class>com.t.cookie.CookieReader</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LifeCycleServlet</servlet-name>
		<url-pattern>/LifeCycleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServletConfig</servlet-name>
		<url-pattern>/TestServletConfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CookieWriter</servlet-name>
		<url-pattern>/CookieWriter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CookieReader</servlet-name>
		<url-pattern>/CookieReader</url-pattern>
	</servlet-mapping>
</web-app>